<h1>Sign up</h1>
<form class="signup-form" (submit)="handleSubmit($event)">
  <div>
    <label for="username">Username</label>
    <input type="text" placeholder="username" id="username" name="username" />
  </div>
  <div>
    <label for="password">Password</label>
    <input
      type="password"
      placeholder="password"
      id="password"
      name="password"
    />
  </div>
  <div>
    <label for="confirm-password">Confirm Password</label>
    <input
      type="password"
      placeholder="password"
      id="confirm-password"
      name="confirm-password"
    />
  </div>
  <button>Sign up</button>
  <a routerLink="/login" class="redirect">Already have an account? Login</a>
</form>
