h1{
    text-align: center;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .header button {
    border: none;
    background: rgba(128, 128, 128, 0.597);
    font-weight: bold;
    color: #fff;
    font-size: 1.05rem;
    border-radius: 4px;
    padding: 0.5em 0.75em;
  }
  .header button:hover {
    cursor: pointer;
  }
nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
ul{
    display: flex;
    justify-content: space-between;
    padding:  1em;
    gap: 1rem;
}

li a{
    border: none;
    background: gray;
    padding: 1em 2em;
    border-radius: 4px;
    font-weight: bold;
    color: #fff;
}

li a:hover{
    cursor: pointer;
}